.todo__discription{
    font-size: 20px;
    max-width: 85%;
    overflow: hidden;
}
.todo__item{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_btns{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    
    button {
        height: 30px;
        width: 30px;
        border-top: 2px solid rgb(180, 180, 180);
        border-left: 2px solid rgb(180, 180, 180);
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.close{
            font-size: 14px;
        }
        &.accept{
            width: fit-content;
            padding: 0 15px;
            &_none{
                display: none;
            }
        }
        &.accept:hover{
            background-color: rgb(197, 233, 162);
        }
        &.close:hover{
            background-color: rgb(243, 96, 96);
        }
    }

    &__number{
        font-size: 20px;
    }

}

.todo__item{
    min-height: 50px;
    padding: 20px;
    margin-bottom: 20px;
    border-top: 3px solid rgb(180, 180, 180);
    border-left: 3px solid rgb(180, 180, 180);
    border-bottom: 3px solid black;
    border-right: 3px solid black;

    &:first-child{
        margin-top: 20px;
    }
}

.todo__item_completed{
    @extend .todo__item;
    background-color: rgb(238, 238, 238);
    border-bottom: 3px solid rgb(180, 180, 180);
    border-right: 3px solid rgb(180, 180, 180);
    border-top: 3px solid rgb(117, 117, 117);
    border-left: 3px solid rgb(117, 117, 117);
    color: rgb(184, 184, 184);
    button{
        border-top: 3px solid rgb(180, 180, 180);
        border-left: 3px solid rgb(180, 180, 180);
        border-bottom: 3px solid rgb(117, 117, 117);
        border-right: 3px solid rgb(117, 117, 117);
        &.close:hover{
            background-color: rgb(192, 114, 114);
        }
    }
}